@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background: #0f0f0f;
    color: white;
    font-family: "Poppins";
}

header {
    display: flex;
    align-items: center;
    user-select: none;
}

header * {
    display: inline-block;
}

.logo {
    width: 75px;
}

.action {
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-family: "Poppins";
    margin-left: auto;
    margin-right: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 100ms ease,
                transform 100ms ease;
}

input.action {
    padding-left: 20px;
}

button.action {
    width: auto;
    padding: 10px 20px;
}

header button.action {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-image: url("../assets/home.svg");
    display: none;
}

.action:active {
    transform: scale(0.9);
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#greeting {
    padding: 0 14px;
}

::selection {
    background: #f0b06b;
    color: black;
}

.warning {
    background-color: rgba(150, 30, 14, 0.3);
    height: auto;
    width: calc(100% - 120px);
    margin-left: 40px;
    padding: 10px 20px;
    border-radius: 15px;
    outline: 1px solid rgba(150, 30, 14, 0.5);
    color: rgba(200, 200, 200, 1);
}

.warning {
    display: block;
}

button.action {
    display: block;
}

.theme-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 15px;

    &:has(.full) {
        width: 100%;
        height: calc(100vh - 80px);
        display: block;
        box-sizing: border-box;
    }
}

a {
    text-decoration: underline transparent;
    color: unset;
}

a:hover {
    color: #f0b06b;
    text-decoration: underline #f0b06b;
    transition: text-decoration 300ms ease;
}

.theme {
    display: block;
    padding: 20px;
    background-color: #272727;
    border-radius: 25px;
    position: relative;
    box-sizing: border-box;

    &.full {
        width: 100%;
        height: 100%;
    }

    .title {
        display: flex;
        margin-top: 15px;

        h2 {
            margin: 0;
        }

        .action {
            margin-left: auto;
            height: 40px;
        }
    }

    .description {
        margin-top: 3px;
    }

    img {
        width: 100%;
        object-fit: contain;
        max-height: 250px;
        border-radius: 10px;
    }
}

subnote {
    font-size: 13px;
}

@media (max-width: 385px) {
    input.action {
        width: 30%;
    }
}